<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cars</title>
</head>
<body>
<div>
  <h1>Car List</h1>
  <table>
    <thead>
    <tr>
      <th>Color</th>
      <th>Make</th>
      <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
      <td th:text="${car.color}">Color</td>
      <td th:text="${car.make}">Make</td>
      <td th:text="${car.year}">Year</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
